*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

%flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input {
    padding: 0.6rem 1rem;
    border-radius: 0.6rem;
    border: 1px solid #cccccc;

    &:focus {
        outline: none;
    }
}

html {
    box-sizing: border-box;
    height: 100%;
    font-size: 75%; // 12px = 1rem
    font-family: "DM Sans", sans-serif;
}

body {
    color: #333;
    font-weight: 400;
    line-height: 1.6;
    background: #cccccc;
    height: 100%;
    background-color: rgb(231, 234, 235);
}

.transaction {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    gap: 2.8rem;
    background-color: #ffffff;
    height: 100vh;

    .left {
        margin-left: 3rem;
        width: 20rem;
        margin-top: 4rem;

        .image {
            .pic {
                width: 50px;
                height: 50px;
                border-radius: 10rem;
            }

            h2 {
                margin-left: 5rem;
                margin-top: -50px;
            }

            h5 {
                margin-left: 5rem;
                margin-top: -5px;
            }
        }

        .links {
            margin-top: 4rem;
            list-style: none;

            .lay {
                padding-top: 1px;
                cursor: pointer;
                font-size: 1.1rem;

                :hover {
                    color: rgb(15, 207, 207);
                    transition: 0.9s;
                }

                :active {
                    color: #47d495;
                }

                &.active {
                    color: #47d495;
                }

                a {
                    text-decoration: none;
                    color: #5a5a5a;

                    :active {
                        color: #47d495;
                    }
                }

                i {
                    padding-right: 1rem;
                }
            }
        }

        .money {
            margin-top: 4rem;

            h3 {
                color: #000000;
            }

            h4 {
                color: #b9bac1;
            }
        }

        .bottom {
            margin-top: 4rem;

            h4,
            p {
                color: #b9bac1;
            }
        }

        .ad {
            margin-top: 4rem;
            background-color: #5fd499;
            border-radius: 1rem;
            width: 14rem;
            height: 14rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 2rem;

            .icon {
                display: flex;
                flex-direction: row;

                i {
                    margin-left: auto;
                    transform: scale(1.8) rotate(315deg);
                    width: 1.5rem;
                }
            }

            .p1 {
                margin-left: 1rem;
                font-size: 9px;
                font-weight: bolder;
                color: black;
            }

            .p2 {
                margin: 1rem;
                font-size: 9px;
                font-weight: bolder;
                color: black;
            }
        }
    }

    .center {
        margin-top: 4rem;
        border-right: 1px solid rgb(221, 219, 219);
        padding: 1rem;

        .page-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            input {
                padding: 0.6rem 1rem;
                border-radius: 0.6rem;
                border: 1px solid #cccccc;

                &:focus {
                    outline: none;
                }
            }

            .fa {
                font-size: 1.7rem;
                margin-left: 0.7rem;
            }
        }

        .menubar {
            @extend %flex-row;
            margin-top: 4rem;
            border-bottom: 0.5px solid rgb(150, 143, 143);

            .menu {
                list-style: none;
                display: flex;
                justify-content: space-between;
                flex-direction: row;

                li {
                    margin: 0rem 2rem;

                    :hover {
                        color: rgb(12, 46, 236);
                        transition: 0.9s;
                    }

                    a {
                        text-decoration: none;
                        color: black;
                        font-size: 1.3rem;


                        &:active {
                            background: linear-gradient(to top, green 4px, transparent 0);
                        }
                    }
                }
            }

            .filters {

                .one {
                    background-color: rgb(230, 236, 229);
                    font-size: 1rem;
                    border-width: 3px;
                    border-radius: 6px;
                    padding: 10px;
                }

                .two {
                    background-color: rgb(20, 139, 5);
                    font-size: 1rem;
                    border-width: 3px;
                    // border-style: solid;
                    // border-color: orange;
                    // border-color: none;
                    border-radius: 6px;
                    padding: 10px;
                    color: white;
                }
            }
        }

        .table-details {
            margin-top: 2rem;
            .date {
                color: #b8b9c0;
            }

            .resp-table {
                width: 100%;
                display: table;

                .resp-table-body {
                    display: table-row-group;

                    .resp-table-row {
                        display: table-row;

                        .table-body-cell {
                            display: table-cell;

                            .summary {
                                h2 {
                                    color: rgb(2, 0, 0);
                                    font-size: 1rem;
                                }

                                p {
                                    color: #b8b9c0;
                                }
                            }

                            .dot {
                                color: #f24941;
                                margin-left: -5rem;
                            }

                            .amount {
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }

    .right {
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 3fr 1fr;
        width: 20rem;
        margin-top: 4rem;

        .arrow-right {
            padding-left: 1.5rem;
        }

        .info {
            margin-left: 7rem;

            .logo {
                width: 50px;
                height: 50px;
                margin-top: 4rem;
                border-radius: 10rem;
                margin-left: -1rem;
            }

            p {
                margin-left: -2rem;
                // color: #9e9e9e;
                color: rebeccapurple;
                font-size: 10px;
            }

            .money {
                margin-top: 2.5rem;
                width: 7rem;

                h3 {
                    font-size: 10px;
                    color: black;
                    margin-left: -2rem;
                }

                h4 {
                    font-size: 10px;
                    color: #1326bb;
                    margin-left: -2rem;
                }
            }
        }
    }
}